<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new Post</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="form-container">
    <h1>Add Posts</h1><br>
    <form action="/posts" method="post">
        <input type="text" placeholder="Enter username" name="username"><br><br>
        <textarea name="content" placeholder="Write your post" ></textarea><br><br>
        <button class="btn">Add Post</button><br><br>
    </form>
</div>
</body>
</html>